.swal-modal {
  background-color: lighten($neutralShade, 30);
  border: 2px solid $primaryColor;
}

.swal-title {
  margin: 0 0 20px 0;
  font-family: $primaryFont;
  color: $primaryColor;
  font-size: 2.4rem;
  padding: 0;
}

.swal-text {
  font-family: $primaryFont;
  color: $primaryColor;
  font-size: 2rem;
}

.swal-button {
  background-color: $accentColor;
  color: $primaryColor;

  &:hover {
    background-color: $primaryColor;
  }
}